.card-container {
    display: inline-block;
    height: 100px;
    width: 200px;
    margin: 50px;
    background: lightblue;
    text-align: center;
    border-radius: 10px;
    transition: all .25s ease;
}

.card-container:hover {
    transform: translateY(-20px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}