body {
    height: 150px;
    background-color: #f4f4f4;
}

.header {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: white;
    padding: 15px;
}

.card {
    position: relative;
    width: 250px;
    height: 120px;
    margin: 40px ;
    background-color: rgb(170, 166, 166);
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 5px 10px;
}

.fixed-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
}