.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.slide-tracker {
    display: flex;
    width: 400%;
    animation: slide 5s infinite;
}

.slide {
    width: 100%;
    flex: 1 0 100%;
}

.slide img {
    width: 800px;
    height: 400px;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0);}
    20% { transform: translateX(0);}

    25% {transform: translateX(-100%);}
    45% {transform: translateX(-100%);}

    50% {transform: translateX(-200%);}
    70% {transform: translateX(-200%);}

    75% {transform: translateX(-300%);}
    90% {transform: translateX(-300%);}

    100% {transform: translateX(0);}
}