.image img {
    height: 300px;
    width: 450px;
    transition: all 0.5s ease;
    margin-left: 550px;
    margin-top: 210px;
    border-radius: 50px;
}

.image:hover img {
    transform: rotate(360deg) scale(1.2);
}