* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: linear-gradient(to right, #f6f9fc, #e9eff5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.product-card {
    background-color: white;
    width: 320px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product-card img {
    width: 100%;
    height: 310px; 
    object-fit: cover;
}

.product-info {
    padding: 20px;
    text-align: center;
}

.price {
    color: rgb(0, 255, 8);
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ff3b2f;
    transform: scale(1.05);
}