h1 {
    color: blue;
}

/* class to the apply css */
.highlight {
    background-color: yellow;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

/* id to the apply css */
#about-us {
    margin: 20px;
    padding: 15px;
    border: 1px solid;
    background-color: rgb(235, 159, 44);
}

/* fully page apply css */
*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}

/* select attribute to apply css */
input[type="text"] {
    border: 1px solid blue;
}