.box {
    width: 100px;
    height: 100px;
    background: aqua;
    animation: moveBox 2s infinite;
}

@keyframes moveBox{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(300px);
    }
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: colorChange 4s infinite;
}

@keyframes colorChange {
    0% {
        background: red;
    }
    50% {
        background: yellow;
    }
    100% {
        background: green;
    }
}