.box {
    width: 100px;
    height: 100px;
    background: aqua;
    animation: moveBox 2s infinite;
}

@keyframes moveBox{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(300px);
    }
}