body {
    font-family: 'Comic Sans MS';
}

h2 {
    font-size: 30px;
    font-style: oblique;
    color: rgb(255, 17, 0);
}

/* 2 Column Grid */
/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;
}

.box {
    padding: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.blue {
    background: blue;
}

.orange {
    background: orange;
} */

/* 3 Column Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;
}

.box {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.blue {
    background: blue;
}

.orange {
    background: rgb(255, 200, 0);
} 