*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f4f4f4;
}

.footer{
    background: #0b023f;
    color: #ffffff;
    padding: 50px 0 20px 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-col h3{
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-col p{
    line-height: 1.6;
    color: #ffffff;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin-bottom: 15px;
}

.footer-col ul li a{
    text-decoration: none;
    color: #ffffff;
}

.footer-bottom{
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #7c7c7c;
    font-size: 14px;
    color: #ffffff;
}