* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
}

.footer {
    background: #0b023f;
    color: #ffffff;
    padding: 50px;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer h3 {
    margin-bottom: 25px;
    font-size: 20px;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin-bottom: 12px;
}

.footer ul li a{
    text-decoration: none;
    color: #ffffff;
}

.footer ul li:hover {
    color: aqua;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #7c7c7c;
    font-size: 14px;
    color: #ffffff;
}