body {
    font-family:'Comic Sans MS';
}

h1 {
    font-style: oblique;
}

h2 {
    margin-top: 20px;
}

.box {
    display: block;
    background: rgb(3, 242, 255);
    margin: 15px;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

.block div {
    display: block;
    width: 200px;
    height: 80px;
}

.inline span {
    display: inline;
    background: rgb(251, 255, 132);
    width: 200px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}

.inline-block div {
    display: inline-block;
    width: 200px;
    height: 80px;
    background: rgb(118, 252, 118);
    margin: 10px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    border: 2px solid black;
}