body {
    font-family: 'Comic Sans MS';
}

h2 {
    font-size: 30px;
    font-style: oblique;
}

.container {
    display: flex;
    background: lightgray;
    margin-bottom: 10px;
    height: 100px;
}

.box {
    width: 80px;
    height: 80px;
    background: rgb(26, 244, 255);
    text-align: center;
    line-height: 80px;
    font-size: 20px;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.evenly {
    justify-content: space-evenly;
}